/* # = id and . = class */

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 


{
	#top, #bottom, #left, #right { display: none; }
}

#top, #bottom, #left, #right {
	background: rgba(63, 63, 63, 0.979);
	position: fixed;
}
    
#left, #right {
		top: 0; bottom: 0;
        width: 5px;
}
        
#left { 
    left: 0;
 }

#right { 
    right: 0; 
}
		
#top, #bottom {
		left: 0; right: 0;
        height: 5px;
        max-width: none;
}

#top { 
    top: 0; 
}

#bottom { 
    bottom: 0; 
}

* {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#pageTitle {
    text-align: center;
    font-family: "Sanchez", sans-serif;
    font-size: 30px;
}

html {

    background-color: #537d8d;

}

h1 {
    color: #e8f1f2;
}


h2,h3,h4,h5,h6 {
    font-family: "Libre Franklin", sans-serif;
    margin-left: 20px;
    font-size: 20px;
    color: #e8f1f2;
}

p,li,ul,q,b{
    font-family: "Sarabun", serif;
    margin-left: 20px;
    font-size: 15px;
    color: #e8f1f2;
}

a {
    color: #d7e2e4;
    font-family: "Sarabun", serif;
    font-size: 15px;
}

a:hover {
    color: #e8f1f2;
    text-decoration: none;
}

#topLine {
    margin: 0 auto;
    height:2px;
    width: 95%;
    background-color: rgba(63, 63, 63, 0.979);
    max-width: none;
}



@media only screen and (min-width: 1000px){

    #pageTitle {
        font-size: 45px;
    }

    h2,h3,h4,h5,h6{
        font-size: 32px;
    }

    p,li,ul,q,b,a {
        font-size: 20px;
    }

}
