<!DOCTYPE html>
<html>
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131380481-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-131380481-1');
        </script>

        <link rel="stylesheet" type="text/css" href="base.css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Sanchez|Sarabun" rel="stylesheet"> 
        <!-- libre = header , sanchez = title, sarabun = para -->
        
        <!--[if lte IE 6]>
	        <style>#top, #bottom, #left, #right { display: none; }</style>
        <![endif]-->

        <title>base html</title>

    </head>


    <body>

        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>

        <header>

            <h1 id="pageTitle">Title</h1>

        </header>
        <article>
            <h2>Test article</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repudiandae, ipsam voluptatum distinctio sunt aliquid pariatur, recusandae exercitationem eius obcaecati minus. At est necessitatibus officia libero laboriosam quam, temporibus iusto.</p>
        </article>

    </body>


</html>